.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.orders_and_payments {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.orders_and_payments .orders,
.orders_and_payments .average_value {
  grid-column: span 6;
}

.orders_and_payments .statistics {
  grid-column: span 12;
  display: flex;
  gap: 15px;
}

.orders_and_payments .card_payments,
.orders_and_payments .online_orders {
  width: 30%;
}

.orders_and_payments .cutomer_satisfaction {
  width: 40%;
}

.target_and_inventory {
  grid-column: span 7;
  display: flex;
  gap: 15px;
}

.target {
  width: 65%;
}

.inventory_and_margins {
  width: 35%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.recievables_and_payables {
  grid-column: span 6;
}

.metrics {
  grid-column: span 6;
}

.traffic {
  grid-column: span 6;
}

.target_completion {
  grid-column: span 4;
}

.average {
  grid-column: span 2;
  display: grid;
  gap: 15px;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 1500px) {
  .orders_and_payments {
    grid-column: span 12;
  }

  .target_and_inventory {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .target {
    width: auto;
    grid-column: span 8;
  }

  .inventory_and_margins {
    width: auto;
    grid-column: span 4;
  }

  .orders_and_payments .statistics {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .orders_and_payments .card_payments,
  .orders_and_payments .online_orders,
  .orders_and_payments .cutomer_satisfaction {
    width: auto;
    grid-column: span 4;
  }

  .recievables_and_payables,
  .metrics {
    grid-column: span 12;
  }
}

@media (max-width: 1400px) {
  .traffic {
    grid-column: span 5;
  }

  .target_completion {
    grid-column: span 4;
  }

  .average {
    grid-column: span 3;
  }
}

@media (max-width: 1200px) {
  .traffic {
    grid-column: span 6;
  }

  .target_completion {
    grid-column: span 6;
  }

  .average {
    grid-column: span 12;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .traffic {
    grid-column: span 12;
  }

  .target_completion {
    grid-column: span 6;
  }

  .average {
    grid-column: span 6;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .target {
    grid-column: span 12;
  }

  .inventory_and_margins {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .orders_and_payments .card_payments,
  .orders_and_payments .online_orders {
    grid-column: span 6;
  }

  .orders_and_payments .cutomer_satisfaction {
    grid-column: span 12;
  }

  .target_completion {
    grid-column: span 12;
  }

  .average {
    grid-column: span 12;
  }
}

@media (max-width: 567px) {
  .orders_and_payments .orders,
  .orders_and_payments .average_value {
    grid-column: span 12;
  }

  .orders_and_payments .card_payments,
  .orders_and_payments .online_orders {
    grid-column: span 12;
  }

  .inventory_and_margins {
    grid-template-columns: 1fr;
  }

  .average {
    grid-template-columns: 1fr;
  }
}
